h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

h2 {
    font-size: 1.75rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.button {
    margin-top: 10px;
    font-size: 3rem;
}

.button_1 {
    margin-top: 10px;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px 0; 
    font-size: 1.5rem;
}

th, td {
    border: 1px solid #000000; 
    padding: 8px; 
    text-align: left; 
    background-color: #ffffff;
}

th {
    background-color: #e7e5e5; 
    color: black; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    gap: 200px; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

.grid-item {
    background-color: #ffffff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-size: 2rem;
}

.center {
    text-align: center;
    margin-top: 100px;
}

body {
    font-size: 1.4rem;
    background-color: rgb(233, 240, 248);
}

