h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

.button {
    margin-top: 10px;
    font-size: 3rem;
}

.button_1 {
    margin-top: 10px;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px 0; 
    font-size: 1.5rem;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

th {
    background-color: #f2f2f2; 
    color: black; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 200px; 
}